<form action="/echo" method="post">
	<label>String<br /><input type="text" value="" name="string" /></label><br /><br />
	<label><input type="checkbox" value="" name="reverse" /> Reverse </label><br />
	<label><input type="checkbox" value="" name="up" /> UpCase </label><br />
	<label><input type="checkbox" value="" name="low" /> LowerCase </label><br /><br />
	
	<input type="submit" value="Enviar!" name="" />
	
</form>